* {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABFklEQVRYR9WXURLDIAhE6/0PbSdOtUpcd1Gnpv1KGpTHBpCE1/cXq+vrMph7dGvXZTtpfW10DCA5jrH1H0Jhs5E0hnZdCR+vb5S8Nn8mQCeS9BdSalYJqMBjAGzq59xAESN7VFVUgV8AZB/dZBR7QTFDCqGquvUBVVoEtgIwpQRzmANSFHgWQKExHdIrPeuMvQNDarXe6nC/AutgV3JW+6bgqQLeV8FekRtgV+ToDKEKnACYKsfZjjkam7a0ZpYTytwmgainpC3HvwBocgKOxqRjehoR9DFKNFYtOwCGYCszobeCbl26N6yyQ6g8X/Wex/rBPsNEV6qAMaJPMynIHQCoSqS9JSMmwef51LflTgCRszU7DvAGiV6mHWfsaVUAAAAASUVORK5CYII="), auto;
}

a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.link {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.custom-shadow {
  box-shadow: 2.7342748641967773px 2.7342748641967773px 0px 0px rgba(0, 0, 0, 1);
}

.font-nunito {
  font-family: Nunito, sans-serif;
}

.div-31 {
  display: flex;
  flex-direction: column;
  max-width: 188.75160217285156px;
  justify-content: center;
}

.div-33 {
  max-width: 188.75160217285156px;
  margin-top: 16.405649185180664px;
  color: rgba(0, 0, 0, 1);
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  text-align: left;
  font-family: Inter, sans-serif;
}

.div-39 {
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}

.div-40 {
  justify-content: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.akar-icons-twitter-fill-link {
  display: flex;
  max-width: 42px;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43px;
  width: 42px;
}

.div-41 {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 40px;
  width: 40px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.image-sizer-6 {
  width: 100%;
  padding-top: 83.22916609665333%;
  pointer-events: none;
  font-size: 0;
}

.column-9 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: calc(33.333333333333336% - 13.333333333333334px);
  margin-left: 20px;
}

@media (max-width: 999px) {
  .column-9 {
      width: 100%;
  }
}

.div-42 {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.image-sizer-7 {
  width: 100%;
  padding-top: 105%;
  pointer-events: none;
  font-size: 0;
}

.div-43 {
  display: flex;
  position: relative;
  min-width: 20px;
  min-height: 20px;
  max-width: 40px;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.image-sizer-8 {
  width: 100%;
  padding-top: 102.27272727272727%;
  pointer-events: none;
  font-size: 0;
}